node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

/ios
/android

.env

scripts/generate-app-icon/build
build/node_modules

.yarn/
.pnp.loader.mjs
.pnp.cjs

mcp.json

CLAUDE.md

**/**/_meta.json
scripts/analytics